#footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: aliceblue;
    width: 100%;
}
footer > #copyright {
    display: flex;
    align-items: center;
}

footer > #privacy {
    display: flex;
    align-items: center;
}